
  
  .button__add {
    font-size: 0px;
    margin: auto;
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button__column {
    width: 40px;
  }

  .visits__table {
    border-collapse: collapse;
    width: 100%;
    min-width: 450px;
  }
  
  
  
  .visits__table td {
    padding: 10px;
  }

  .row {
    border-bottom: 2px solid var(--border-color);
  }
  
  .table__title {
    padding: 10px;
    font-size: var(--text-title);
    font-weight: var(--weight-bold);
    border-bottom: 2px solid var(--border-color);
    color: var(--column-title);
    text-align: left;
    white-space: nowrap;
  }

  .row__item {
    padding: 15px;
    font-size: var(--text-small);
    font-weight: var(--weight-normal);
  }

  .row__item::first-letter {
    text-transform: capitalize;
  }


  .row__item:nth-child(1) {
    width: 65%;
  }

  .row__item:nth-child(2) {
    width: 25%;
  }

  .row__item:nth-child(3) {
    width: 10%;
    
  }
