.header {
  width: 100%;
  padding: 10px 0;
  background: rgb(123, 192, 255);
  background: linear-gradient(
    90deg,
    rgba(123, 192, 255, 1) 0%,
    rgba(132, 196, 255, 1) 25%,
    rgba(132, 196, 255, 1) 40%,
    rgba(0, 114, 218, 1) 100%
  );
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.header__item a {
  font-size: var(--text-subtitle);
}

.active a {
  background-color: var(--accent-border);
  color: var(--accent);
  border: 1px solid var(--accent);
}

.logo_container {
  display: flex;
  align-items: center;
  font-size: 50px;
  cursor: pointer;

}
.logo_img{
  transition: transform 2.1s ease-in-out;
}
.letters span {
  opacity: 0;
  display: inline-block;
}

.logo_container:hover .letters span {
  animation: fadeIn 1.4s forwards;
 
}
.logo_container:hover .logo_img {
  transform: rotate(360deg);
}
.logo_container:hover .letters span:nth-child(1) {
  animation: fadeIn 0.2s 0.2s forwards;
}
.logo_container:hover .letters span:nth-child(2) {
  animation: fadeIn 0.2s 0.4s forwards;
}
.logo_container:hover .letters span:nth-child(3) {
  animation: fadeIn 0.2s 0.6s forwards;
}
.logo_container:hover .letters span:nth-child(4) {
  animation: fadeIn 0.2s 0.8s forwards;
}
.logo_container:hover .letters span:nth-child(5) {
  animation: fadeIn 0.2s 1s forwards;
}
.logo_container:hover .letters span:nth-child(6) {
  animation: fadeIn 0.2s 1.2s forwards;
}
.logo_container:hover .letters span:nth-child(7) {
  animation: fadeIn 0.2s 1.4s forwards;
}


@keyframes fadeIn {
  
  0% {
      opacity: 0;
      transform: translateX(-10px);
      
  }
  100% {
      opacity: 1;
      transform: translateX(3px);
  }
}