
  
  .button__delete {
    font-size: 0px;
    padding: 0px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button__decrement {
    padding: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
  }

  .count__text {
    width: 2ch;
    text-align: center;
  }

  .button__increment {
    padding: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
  }
  
  


  .visits__table {
    border-collapse: collapse;
    width:100%;
    min-width: 750px;
  } 
  
  .row {
    border-bottom: 2px solid var(--border-color);
  }

  .row__total {
    border: 0;
  }
  
  
  
  
  .visits__table td {
    padding: 10px;
    text-align: left;
    font-size: var(--text-small);
    font-weight: var(--weight-normal);
    
  }

  .row__item::first-letter {
    text-transform: capitalize;
  }

  .count__wrapper {
    display: flex;
    align-items: center;
  }
  
  .table__title {
    padding: 10px;
    font-size: var(--text-title);
    font-weight: var(--weight-bold);
    border-bottom: 2px solid var(--border-color);
    color: var(--column-title);
    text-align: left;
    white-space: nowrap;
  }

